<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487105847277-mbl0io2u6nphdcerhmsf2s91m2gtpo9p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487105847277-mbl0io2u6nphdcerhmsf2s91m2gtpo9p</string>
	<key>API_KEY</key>
	<string>AIzaSyDCMbkUCwl66ugaGUmz1ICdILVVQ3vHTy4</string>
	<key>GCM_SENDER_ID</key>
	<string>487105847277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.outcode.trackify</string>
	<key>PROJECT_ID</key>
	<string>trackify-b1764</string>
	<key>STORAGE_BUCKET</key>
	<string>trackify-b1764.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487105847277:ios:2c6cb9a345944679b411e4</string>
</dict>
</plist>